<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', path='/url/css/home.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', path='/url/css/nav.css')}}">
    <link rel="icon" type="image/x-icon" href="{{ url_for ('static', path='/url/Images/fav-icon.png')}}">


    <title>Scissor</title>

</head>

<body>


    <!-- HERO SECTION -->


    <!-- NAVIGATION BAR -->

    <div id="nav-container"></div>

    <!-- NAVIGATION BAR -->




    <div class="hero-section-info">
        <h1>
            Optimize Your Online Experience with Our<br>Advanced <span>URL Shortening</span> Solution
        </h1>
        <img src="{{ url_for ('static', path='/url/Images/header-dash.png') }}" alt="Marker">
        <p>
            Personalize your shortened URLs to align with your brand identity. Utilize custom slugs, create QR Code,
            <br>branded
            links,
            and domain customization options to reinforce your brand presence and<br>enhance user engagement.
        </p>
        <div class="get-started">
            <a href="/auth/signup">Get Started</a>
        </div>
    </div>
    </div>
    <!-- HERO SECTION -->
     

<script src="{{ url_for ('static', path='/url/js/load_navbar.js')}}"></script>


</body>

</html>